/* Special appearances for buttons and separator elements */

/*Subject Button Appearance*/
.btn-subject {
  color: white;
  background-color: #DF0D0D;
  border-color: #DF0D0D;
  touch-action: manipulation;
}
.btn-subject:hover {
  color: white;
  background-color: #B40A0A;
  border-color: #B40A0A;
}

/*Predicate Button Appearance*/
.btn-predicate {
  color: white;
  background-color: #8904B1;
  border-color: #8904B1;
}
.btn-predicate:hover {
  color: white;
  background-color: #6A0888;
  border-color: #6A0888;
}

/*Object Button Appearance*/
.btn-object {
  color: white;
  background-color: #0101df;
  border-color: #0101df;
}
.btn-object:hover {
  color: white;
  background-color: #00009c;
  border-color: #00009c;
}

/*Optional Button Appearance*/
.btn-optional {
  color: white;
  background-color: rgb(0, 219, 219);
  border-color: rgb(0, 219, 219);
}
.btn-optional:hover {
  color: white;
  background-color: rgb(0, 177, 177);
  border-color: rgb(0, 177, 177);
}

/*Noun Button Appearance*/
.btn-noun {
  color: white;
  background-color: #00b0e6;
  border-color: #00b0e6;
  opacity: 0.5;
}
.btn-noun:hover,
.btn-noun:focus {
  color: white;
  background-color: #0085ad;
  border-color: #0085ad;
}

/*Verb Button Appearance*/
.btn-verb {
  color: white;
  background-color: #fe2e9a;
  border-color: #fe2e9a;
  opacity: 0.5;
}
.btn-verb:hover,
.btn-verb:focus {
  color: white;
  background-color: #aa0259;
  border-color: #aa0259;
}

/*Adjective Button Appearance*/
.btn-adjective {
  color: white;
  background-color: #01df01;
  border-color: #01df01;
  opacity: 0.5;
}
.btn-adjective:hover,
.btn-adjective:focus {
  color: white;
  background-color: #008800;
  border-color: #008800;
}

/*Named Entity Button Appearance*/
.btn-namedEntity {
  color: white;
  background-color: #FE9A2E;
  border-color: #FE9A2E;
  opacity: 0.7;
}
.btn-namedEntity:hover
.btn-namedEntity:focus {
  color: white;
  background-color: #df8729;
  border-color: #df8729;
}

/*POS-Label element appearance*/
pos {
  font-size: x-small;
  text-decoration: none;
}

/*Separator element appearance*/
sep {
  color: white;
}
sep:hover,
sep:focus {
  color: black;
}
/*Separator subclasses appearances*/
.sep-start {
  color: #00b0e6;
}
.sep-end {
  color: #fe2e9a;
}

/*Code block appearance */
pre {
  font-family: Arial, Helvetica, sans-serif;
}
