<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>OpenIE - Annotation Tool</title>
        <!--<link rel="icon" href="{{url_for('static', filename='img/favicon.png')}}">-->
        <link rel="icon" href="{{url_for('static', filename='img/favicon.png')}}">
        <!--<link rel="icon" href="img/favicon.png">-->

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <!-- Icons -->
        <script src="https://kit.fontawesome.com/1269d23fc6.js" crossorigin="anonymous"></script>

        <!--<link rel="stylesheet" href="css/style.css">-->
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        

    </head>
    <body id="body">

        <!--Navigation bar on top-->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top mx-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html"> <img src="{{url_for('static', filename='img/logo.jpg')}}" width="30" height="30"> OpenIE Annotation Tool </a>
                <!--<a class="navbar-brand" href="index.html"> <img src="img/logo.jpg" width="30" height="30"> OpenIE Annotator Platform </a>-->
                <!--<button class="btn btn-danger ml-auto" style="float:right;" id="exit-button">EXIT</button>-->
               <!--<i class="fas fa-sliders-h text-light" type="button" id="settings-btn"></i>-->
            </div>
        </nav>

        <div class="px-4">

        <!--Settings-->
        <div class="container mt-4 bg-dark text-light rounded py-2 px-2" id="settings-container" hidden>
            <a class="lead text-white ml-2">Settings</a>
            <div class="row ml-3 mb-2 justify-content-md-center">
                <div class="col col-lg-2">
                    <a>Show POS-Tags:</a>
                </div>
                <div class="col col-lg-2">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="posToggleGroup">
                        <label class="btn btn-primary btn-sm active" id="pos-off">
                            <input type="radio" name="options" autocomplete="off" checked>Off
                        </label>
                        <label class="btn btn-primary btn-sm" id="pos-on">
                            <input type="radio" name="options" autocomplete="on" checked>On
                        </label>
                    </div>
                </div>  
            </div>
            <div class="row ml-3 justify-content-md-center">
                <div class="col col-lg-2">
                    <a>Display Coloring:</a>
                </div>
                <div class="col col-lg-2">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="colorToggleGroup">
                        <label class="btn btn-primary btn-sm active" id="full-color">
                            <input type="radio" name="options" autocomplete="off" checked>Full
                        </label>
                        <label class="btn btn-primary btn-sm" id="verbs-color">
                            <input type="radio" name="options" autocomplete="off" checked>Verbs
                        </label>
                        <label class="btn btn-primary btn-sm" id="none-color">
                            <input type="radio" name="options" autocomplete="off" checked>None
                        </label>
                    </div>
                </div>   
            </div>
            <div class="row justify-content-md-center">
                <button class="btn btn-primary btn-sm ml-3">OK</button>
            </div>
            
            
        </div>

        <!--Input Selections-->

        <div class="container-fluid mt-4 bg-dark text-light py-2 rounded" id="input-area">
            <div class="container">
                <p class="lead text-white">Upload a new document here:</p>
            <div class="input-group mt-2 mb-3">
                <div class="custom-file mt-1">
                    <input type="file" class="custom-file-input" id="input-file" onchange="changeInputLabel()">
                    <label class="custom-file-label" for="input-file" id="input-file-label">Choose file</label> 
                </div>    
            </div>
            <p class="lead text-white">Resume previous work?</p>
            <div class="input-group mt-2 mb-3">
                <div class="custom-file mt-1">
                    <input type="file" class="custom-file-input" id="input-memory-file" onchange="changeResumeLabel()">
                    <label class="custom-file-label" for="input-memory-file" id="input-memory-file-label">Choose file</label>  
                </div>
                <button class="btn btn-secondary btn-sm mx-2" id="load-selected-btn">Load Selected File  </button>
                <button class="btn btn-secondary btn-sm" id="load-last-btn"> Load Last Used </button>   
            </div>
            <div id="alert-div-load"></div>

            <div id="table-container">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col"><i class="fas fa-angle-down" type="button" id="files-table-icon"></i></th>
                            <th scope="col">Filename</th>
                            <th scope="col">Last Used</th>
                            <th scope="col">-</th>
                        </tr>
                    </thead>
                    <tbody id="files-tbody" hidden>
                    </tbody>
                </table>
            </div>



            <button class="btn btn-primary btn-lg btn-block mt-5 mb-2" id="start-input-file">Start</button>

            </div>
            
            
        </div>

        <!--Do the Magic-->

        <div class="container-fluid mt-3 bg-dark text-light py-2 rounded" id="content-area">
            <!--Navigation on Bottom-->

            <div class="container mb-2">
                <div class="row">
                    <div class="col-12 col-md d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" id="jump-first-btn">Jump to First</button>
                    </div>
                    <div class="col-12 col-md d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" id="previous-btn">Previous</button>
                    </div>
                    <div class="col-12 col-md d-flex justify-content-center">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="..." aria-label="GoTo" aria-describedby="go-to-button" id="current-sentence">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="go-to-btn" onclick="goToPhraseX()">Go To</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" id="next-btn">Next</button>
                    </div>
                    <div class="col-12 col-md d-flex justify-content-center">
                        <button type="button" class="btn btn-secondary" id="jump-last-btn">Jump to Last</button>
                    </div>
                </div>
            </div>

            <p class="lead text-white" id="sentence-number">Sentence #:</p>
            <div class="card mt-2 mb-3">
                <div class="card-body text-dark" id="content-insert">
                   
                </div>
            </div>
            <div>
                <div class="btn-group btn-group-toggle my-2" data-toggle="buttons" id="button-group">
                    <a class="btn btn-secondary down mr-1" id="subject-btn" onclick="tripleButton(this.id)"> Select subject(s) </a>
                    <a class="btn btn-secondary down mr-1" id="predicate-btn" onclick="tripleButton(this.id)"> Select predicate(s) </a>
                    <a class="btn btn-secondary down" id="object-btn" onclick="tripleButton(this.id)"> Select object(s) </a>
                </div>
               
                <button class="btn btn-secondary down ml-3" id="optional-btn" onclick="optionalButton()">Optional</button>
                <button class="btn btn-light ml-2" id="clear-btn">Clear</button>
                
                <!--<button class="btn btn-secondary my-2 mr-2" style="float: right;">Reset</button>-->
            </div>

            <p class="lead text-white">Selection</p>
            <div class="card-body bg-white py-2 px-2 mb-3" style="border-radius: 5px;" id="selection-insert">
            </div>

            <div class="d-flex flex-row-reverse">
                <button class="btn btn-primary mb-2" id="active-cluster-btn">Add to active Cluster</button>
                <button class="btn btn-info mb-2 mr-2" id="new-cluster-btn">Add to new Cluster</button>
                    
                <div class="d-flex justify-content-center">
                    <div class="input-group mb-3 mr-2">
                        <input type="number" class="form-control" placeholder="..." aria-label="Add to Cluster" aria-describedby="go-to-button" id="add-to-cluster-number">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button" id="add-to-btn" onclick="">Add To</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="alert-div-cluster"></div>
            

            <!--Container displaying clusters and triples for the current sentence.-->
            <p class="lead text-white" id="sentence-number">Cluster #:</p>
            <div class="card-body bg-white py-2 px-2 mb-4" style="border-radius: 5px;" id="cluster-insert">
            </div>

            <div class="row mb-3">
                <div class="col-md d-flex justify-content-center">
                    <button type="button" class="btn btn-primary btn-lg" id="save-button">Save</button>
                </div>
            </div>
           

            
            
        </div>


        <!--Output Download-->
        
        <div class="container-fluid mt-3 bg-dark text-light py-2 rounded" id="download-area">
            
            <!--Current Output-->
            <p class="lead text-white">Output:</p>
            <div class="card mt-2">
                <div class="card-body text-dark" id="current-output"></div>
            </div>
            <div class="container-fluid d-flex mt-4">
                <p class="lead text-white mr-5">Download results: </p>
                <i class="fas fa-file-download fa-5x" type="button" id="download-btn"></i>
            </div>
        </div>

       
    </div> 
        
        <!--Footer-->

        <footer class="bg-light text-dark">
            <hr class="mb-5" style="border-color: black;">
            <div class="row">
            <div class="col-12 col-md">
                    <img src="{{url_for('static', filename='img/logo.png')}}" width="40%">
                    <!--<img src="img/logo.png" width="40%">-->
                <li class="list-unstyled text-small"><a class="text-muted ml-4" target="_blank" href="https://www.uni-mannheim.de">University of Mannheim</a></li>
                <small class="d-block mb-3 ml-4 text-muted">&copy; 2020</small>
            </div>
            <!--
            <div class="col-6 col-md">
                <h5 class="text-primary">About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" href="###">Info 1</a></li>
                    <li><a class="text-muted" target="_blank" href="###">Info 2</a></li>
                    <li><a class="text-muted" target="_blank" href="###">Info 3</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="text-primary">Related Work</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" href="###">Paper 1</a></li>
                    <li><a class="text-muted" target="_blank" href="###">Paper 2</a></li>
                    <li><a class="text-muted" target="_blank" href="###">Paper 3</a></li>
                </ul>
            </div>
        -->
            <div class="col-6 col-md ml-auto">
                <h5 class="text-primary">Impressum</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" target="_blank" href="https://www.uni-mannheim.de/dws/">Data and Web Science Group</a></li>
                    <li><a class="text-muted" target="_blank" href="https://www.uni-mannheim.de">University of Mannheim</a></li>
                </ul>
            </div>
        </footer>

        <!--<script>

            document.addEventListener('DOMContentLoaded', function() {
            
                var url = 'http://127.0.0.1:5000/GUI-is-still-open';
                fetch(url, { mode: 'no-cors'});
                setInterval(function(){ fetch(url, { mode: 'no-cors'});}, 5000)();
            
            });
            
        </script>-->
        <script type="module" src="{{url_for('static', filename='js/App.js')}}"></script>
        <script src="{{url_for('static', filename='js/Visual.js')}}"></script>
        <!--<script type="module" src="js/App.js"></script>-->
        <!--<script src="js/Visual.js"></script>-->
    
    </body>
</html>